/* font */
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

@font-face:{
  font-family: 'Roboto', sans-serif;
  font-family: ‘Noto Sans TC’, sans-serif;}

body{
  margin:50px;
  background-color: white;
  color: black;
  font-size:50px;
  }

p.cht{font-family: Microsoft JhengHei;
}

p.cht1{font-family: Noto Sans TC;
}

p.eng{font-family: Roboto;
   font-weight: 100;}
