/* font */
@font-face:{
  font-family: 'cwTeXKai', serif;
  font-family: 'Roboto', sans-serif;}

body{
  margin:50px;
  background-color: white;
  color: black;
font-size:100px;}

p{font-family:cwTeXKai;}

div{font-family: Roboto;
font-weight: 100;}

span{font-family: Roboto;}
