/* font */
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);

@font-face:{
  font-family: 'Roboto', sans-serif;
  font-family: 'Microsoft JhengHei', '微軟正黑體', Verdana, Arial, 'Microsoft YaHei' !important;}

body{
  background-color: white;
  color: black;
  font-size:16px;
  max-width:960px;
  font-family: Roboto,'Microsoft JhengHei';
  font-weight:300;
  }

div.top-menu{
  position:fixed;
  top: 0px;
  padding: 30px;
  width: 100%;
  background-color:black;
  color: white;
  }

#first{margin-top:100px;}

#home,#about,#news,#products,#dealer{
  padding-left:20px;
  color:white;
  font-weight:300;}

#lk {margin-top:70px; }
